body {
	background: #000;
}

@font-face {
	font-family: 'HappyHell';
	src: url('../fonts/happy_hell.eot');
	src: local('☺'), url('../fonts/happy_hell.woff') format('woff'), url('../fonts/happy_hell.ttf') format('truetype'), url('../fonts/happy_hell.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#canvas{
	outline: 0;
	border: 1px solid #000;
	width: 320px;
	height: 480px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -240px 0 0 -160px;
	background:#fff;
}

div#wrapper {
	max-width: 100%;
	overflow: hidden;
}
